In [15]:
# import pandas as pd
# geo = pd.read_csv("./raw_data/METR_LA/METR_LA.geo")
# geo

In [16]:
# dyna = pd.read_csv("/home/thliang/prj/Bigscity-LibCity/raw_data/METR_LA/METR_LA.dyna")
# dyna

In [17]:
# rel = pd.read_csv("/home/thliang/prj/Bigscity-LibCity/raw_data/METR_LA/METR_LA.rel")
# rel

In [18]:
import numpy as np
import pandas as pd
data_name = "jinan"

original_data = "./raw_raw_data/HGCN_data/"+data_name+"/original_data.npz"
sensor_ids = "./raw_raw_data/HGCN_data/"+data_name+"/graph_sensor_ids.txt"
distances = "./raw_raw_data/HGCN_data/"+data_name+"/distance.csv"

output_dir = "./raw_data/" + data_name + "/"

data = np.load(original_data)["data"]
sensor_ids = np.loadtxt(sensor_ids,delimiter=',')
sensor_ids=np.int32(sensor_ids)

distance_df = pd.read_csv(distances, dtype={'from': 'int', 'to': 'int'})

In [19]:
# geo
sensor_ids
geo_csv = pd.DataFrame(sensor_ids, columns=["geo_id"])
geo_csv["type"] = "Point"
geo_csv["coordinates"] = None
geo_csv.to_csv(output_dir+data_name+".geo", index=False)
geo_csv

     geo_id   type coordinates
0    255308  Point        None
1    255309  Point        None
2    255310  Point        None
3    255311  Point        None
4    255312  Point        None
..      ...    ...         ...
556  255864  Point        None
557  255865  Point        None
558  255866  Point        None
559  255867  Point        None
560  255868  Point        None

[561 rows x 3 columns]

In [20]:
# rel
distance_df.columns = ["origin_id", "destination_id", "cost"]
tmp = list(range(len(distance_df)))
tmp_df = pd.DataFrame(tmp, columns=["rel_id"])
tmp_df["type"] = "geo"
distance_df = pd.concat([tmp_df, distance_df], axis=1 )
distance_df.to_csv(output_dir+data_name+".rel", index=False)
distance_df

      rel_id type  origin_id  destination_id      cost
0          0  geo     255308          255308  1.000000
1          1  geo     255308          255309  1.000000
2          2  geo     255308          255760  0.993868
3          3  geo     255308          255765  0.990549
4          4  geo     255308          255766  0.997679
...      ...  ...        ...             ...       ...
5353    5353  geo     255868          255743  0.962802
5354    5354  geo     255868          255865  0.975118
5355    5355  geo     255868          255866  0.991542
5356    5356  geo     255868          255867  1.000000
5357    5357  geo     255868          255868  1.000000

[5358 rows x 5 columns]

In [21]:
# dyna
print(data.shape)
# print(data[0])
# print([geo_csv["geo_id"][0]] * 10)
gg = list(geo_csv["geo_id"])
# print(gg)
sensor, timestep, _ = data.shape
data = data.reshape(sensor, timestep)
# print(data.shape)
entity_id = []
traffic_speed = data.reshape(sensor*timestep,)
# print(traffic_speed.shape)
for i in range(sensor):
    entity_id.extend([gg[i]] * timestep)
# for i in range(len(data)):
#     entity_id.extend([geo_csv["geo_id"][i]] * len(data[i]))
#     traffic_speed.extend(data[i])
# print(entity_id)
dyna_df = list(range(len(traffic_speed)))
# print(len(dyna))
dyna_df = pd.DataFrame(dyna_df, columns=["dyna_id"])
dyna_df["type"] = "state"
dyna_df["time"] = None
dyna_df["entity_id"] = entity_id
dyna_df["traffic_speed"] = traffic_speed
dyna_df.to_csv(output_dir+data_name+".dyna", index=False)
dyna_df

(561, 52309, 1)

           dyna_id   type  time  entity_id  traffic_speed
0                0  state  None     255308      77.155701
1                1  state  None     255308      81.228699
2                2  state  None     255308      81.104301
3                3  state  None     255308      82.713097
4                4  state  None     255308      83.103798
...            ...    ...   ...        ...            ...
29345344  29345344  state  None     255868      56.000000
29345345  29345345  state  None     255868      35.007000
29345346  29345346  state  None     255868      40.644100
29345347  29345347  state  None     255868      40.904900
29345348  29345348  state  None     255868      40.244701

[29345349 rows x 5 columns]